<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.hughisaacs2.cordova.plugins.androidwidgetplugin"
    version="0.0.1">
	
	<name>AndroidWidgetPlugin</name>
    <description>Cordova Android Widget Plugin</description>
	<author email="hughisaacs@acrylicstyle.com" href="http://hughisaacs2.acrylicstyle.com">Hugh Isaacs II</author>
    <license>MIT</license>
	<keywords>ecosystem:cordova,cordova-android</keywords>
	
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  
  <dependency id="cordova-plugin-ace" />

  <platform name="android">
	
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
		<receiver android:label="List" android:name="com.hughisaacs2.cordova.plugins.androidwidgetplugin.ListWidgetProvider">
		  <intent-filter>
		    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		  </intent-filter>
		  <meta-data android:name="android.appwidget.provider" android:resource="@xml/list_widget_info" />
		</receiver>
		<service android:exported="false" android:name="run.ace.AppWidgetService" android:permission="android.permission.BIND_REMOTEVIEWS" />
    </config-file>

<source-file src="ListWidgetProvider.java" target-dir="src/com/hughisaacs2/cordova/plugins/androidwidgetplugin" />
<source-file src="list_widget_info.xml" target-dir="res/xml" />
<source-file src="list_widget_layout.xml" target-dir="res/layout" />
<source-file src="17/list_widget_layout.xml" target-dir="res/layout-v17" />
<source-file src="list_widget_view.xml" target-dir="res/layout" />

  </platform>

</plugin>